<div class="row">
  <div class="col-md-4">
    <app-line-chart></app-line-chart>
  </div>
  <div class="col-md-4">
    <app-bar-chart></app-bar-chart>
  </div>
  <div class="col-md-4">
    <app-stacked-bar></app-stacked-bar>
  </div>
  <div class="col-md-4">
    <app-grouped-bar></app-grouped-bar>
  </div>
  <div class="col-md-4">
    <app-multi-line></app-multi-line>
  </div>
  <div class="col-md-4">
    <app-area></app-area>
  </div>
  <div class="col-md-4">
    <app-donut></app-donut>
  </div>
</div>