<div class="row">
  <div class="col-md-8 left-section col-md-offset-1">
    <div class="card">
      <div class="title">
        <div class="col-md-8">
          <span>Total records</span>
          <span>15</span>
        </div>
      </div>
      <div class="card-body">
        <div class="col-md-9 col-md-offset-1">
          <span>Record</span>
          <app-bar-chart *ngIf="selectedChart == 'BAR_CHART'"></app-bar-chart>
          <app-line-chart *ngIf="selectedChart == 'LINE_CHART'"></app-line-chart>
          <app-stacked-bar *ngIf="selectedChart == 'HORIZONTAL_CHART'"></app-stacked-bar>
          <app-grouped-bar *ngIf="selectedChart == 'GROUPED_BAR_CHART'"></app-grouped-bar>
          <app-multi-line *ngIf="selectedChart == 'MULTI_LINE_CHART'"></app-multi-line>
          <app-area *ngIf="selectedChart == 'AREA_CHART'"></app-area>
          <app-donut *ngIf="selectedChart == 'DONUT_CHART'"></app-donut>
        </div>
        <div class="col-md-2">
          <button class="mdc-icon-button material-icons" (click)="changeChart()">settings</button>
        </div>
      </div>
    </div>
  </div>
  <div id="modal-container" class="hidden">
  </div>
  <div id="overlay" (click)="removeModal()" class="hidden"></div>